<a href="https://colab.research.google.com/github/gangoliya/linkedin_problems/blob/problems/interview_weekness_problem_3_date_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=dc099bce677e95a9151cfc29456d82b2f789d354b48a5eacf6c1677b6ae5841e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Dates Maybe").getOrCreate()

In [16]:
data = [(7499,"ALLEN","SALESMAN",7698,"12-10-2023",1600,300,30)]

from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema = StructType([StructField("EMPNO",IntegerType(),True),
                      StructField("ENAME",StringType(),True),
                     StructField("JOB",StringType(),True),
                     StructField("MGR",IntegerType(),True),
                     StructField("HIREDATE",StringType(),True),
                     StructField("SAL",IntegerType(),True),
                     StructField("COMM",IntegerType(),True),
                     StructField("DEPTNO",IntegerType(),True)
])

df = spark.createDataFrame(data, schema)

In [17]:
df.show()

+-----+-----+--------+----+----------+----+----+------+
|EMPNO|ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|
+-----+-----+--------+----+----------+----+----+------+
| 7499|ALLEN|SALESMAN|7698|12-10-2023|1600| 300|    30|
+-----+-----+--------+----+----------+----+----+------+

In [22]:
from pyspark.sql.functions import to_date, date_format

df.withColumn("date_modified",to_date(df.HIREDATE, "dd-MM-yyyy")).show()

+-----+-----+--------+----+----------+----+----+------+-------------+
|EMPNO|ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|date_modified|
+-----+-----+--------+----+----------+----+----+------+-------------+
| 7499|ALLEN|SALESMAN|7698|12-10-2023|1600| 300|    30|   2023-10-12|
+-----+-----+--------+----+----------+----+----+------+-------------+