<a href="https://colab.research.google.com/github/gangoliya/linkedin_problems/blob/problems/interview_weekness_problem_4_top_2_sal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=05eeea4f0d048ec714d2bb6ee99a4a54b9239c2b3c4d90be18483f192afa7572
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Salaries Maybe").getOrCreate()

In [3]:
data = [(7698,"RAVI","MANAGER",7839,"1/1/2023",50000,30,202),
(7782,"RAM","MANAGER",7566,"2/8/2022",75000,10,200),
(7902,"SCOTT","ANALYST",7777,"9/8/2022",40000,20,201),
(1234,"ALBERT","ANALYST",7698,"5/1/2022",60000,80,203),
(8812,"PRIYA","DE",6123,"5/3/2022",75000,30,205)]

from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema = StructType([StructField("EMPNO",IntegerType(),True),
                      StructField("ENAME",StringType(),True),
                     StructField("JOB",StringType(),True),
                     StructField("MGR",IntegerType(),True),
                     StructField("HIREDATE",StringType(),True),
                     StructField("SAL",IntegerType(),True),
                     StructField("COMM",IntegerType(),True),
                     StructField("DEPTNO",IntegerType(),True)
])

df = spark.createDataFrame(data, schema)

In [4]:
df.show()

+-----+------+-------+----+--------+-----+----+------+
|EMPNO| ENAME|    JOB| MGR|HIREDATE|  SAL|COMM|DEPTNO|
+-----+------+-------+----+--------+-----+----+------+
| 7698|  RAVI|MANAGER|7839|1/1/2023|50000|  30|   202|
| 7782|   RAM|MANAGER|7566|2/8/2022|75000|  10|   200|
| 7902| SCOTT|ANALYST|7777|9/8/2022|40000|  20|   201|
| 1234|ALBERT|ANALYST|7698|5/1/2022|60000|  80|   203|
| 8812| PRIYA|     DE|6123|5/3/2022|75000|  30|   205|
+-----+------+-------+----+--------+-----+----+------+

In [9]:
from pyspark.sql.window import Window
from pyspark.sql.functions import dense_rank, desc, col

windowSpec = Window.orderBy(col("SAL").desc())

df_part = df.withColumn("Rank", dense_rank().over(windowSpec))

df_part.filter(df_part.Rank==1).show()

+-----+-----+-------+----+--------+-----+----+------+----+
|EMPNO|ENAME|    JOB| MGR|HIREDATE|  SAL|COMM|DEPTNO|Rank|
+-----+-----+-------+----+--------+-----+----+------+----+
| 7782|  RAM|MANAGER|7566|2/8/2022|75000|  10|   200|   1|
| 8812|PRIYA|     DE|6123|5/3/2022|75000|  30|   205|   1|
+-----+-----+-------+----+--------+-----+----+------+----+