<a href="https://colab.research.google.com/github/gangoliya/linkedin_problems/blob/problems/linkedin_problem_13_pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=0abbffc71fda0503259eb5c0728dc1cddfe47c08d15350b82696268c9f13a146
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pivot maybe').getOrCreate()

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Define schema using StructType
schema = StructType([
StructField("id", IntegerType(), True),
StructField("name", StringType(), True),
StructField("country", StringType(), True),
StructField("date_part", StringType(), True)
])
# Sample data
data = [
(1, "gaga", "India", "11-02-2022"),
(1, "katy", "UK", "11-02-2022"),
(1, "bey", "Europe", "11-02-2022"),
(1, "gaga", "US", "11-02-2022"),
(2, "gaga", None, "11-02-2022"),
(2, "katy", "India", "11-02-2022"),
(2, "bey", "US", "15-02-2022")
]


df = spark.createDataFrame(data, schema)
df.show()

+---+----+-------+----------+
| id|name|country| date_part|
+---+----+-------+----------+
|  1|gaga|  India|11-02-2022|
|  1|katy|     UK|11-02-2022|
|  1| bey| Europe|11-02-2022|
|  1|gaga|     US|11-02-2022|
|  2|gaga|   NULL|11-02-2022|
|  2|katy|  India|11-02-2022|
|  2| bey|     US|15-02-2022|
+---+----+-------+----------+

In [7]:
from pyspark.sql.functions import collect_list

result_df = df.groupBy("id","date_part").pivot("name").agg(collect_list("country"))
result_df.show()

+---+----------+--------+-----------+-------+
| id| date_part|     bey|       gaga|   katy|
+---+----------+--------+-----------+-------+
|  1|11-02-2022|[Europe]|[India, US]|   [UK]|
|  2|11-02-2022|      []|         []|[India]|
|  2|15-02-2022|    [US]|         []|     []|
+---+----------+--------+-----------+-------+