<a href="https://colab.research.google.com/github/gangoliya/linkedin_problems/blob/problems/linkedin_problem_10_team_size.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=df61d3555cfbf82a46396912f0b347dbb9684a5e381333831147ff2fad2d0a21
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('team_size').getOrCreate()

In [6]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Employee-Team data
data = [
(1, 8),
(2, 8),
(3, 8),
(4, 7),
(5, 9),
(6, 9)
]
# Define schema using StructType
schema = StructType([
StructField("employee_id", IntegerType(),
True),
StructField("team_id", IntegerType(),
True)
])

In [7]:
df = spark.createDataFrame(data, schema)

In [8]:
df.show()

+-----------+-------+
|employee_id|team_id|
+-----------+-------+
|          1|      8|
|          2|      8|
|          3|      8|
|          4|      7|
|          5|      9|
|          6|      9|
+-----------+-------+

In [15]:
df_groupped = df.groupBy("team_id").count()

In [16]:
df_joined = df_groupped.join(df,df.team_id==df_groupped.team_id)

In [17]:
df_joined.show()

+-------+-----+-----------+-------+
|team_id|count|employee_id|team_id|
+-------+-----+-----------+-------+
|      8|    3|          1|      8|
|      8|    3|          2|      8|
|      8|    3|          3|      8|
|      9|    2|          5|      9|
|      9|    2|          6|      9|
|      7|    1|          4|      7|
+-------+-----+-----------+-------+

In [19]:
df_joined.select("employee_id","count").orderBy("employee_id").show()

+-----------+-----+
|employee_id|count|
+-----------+-----+
|          1|    3|
|          2|    3|
|          3|    3|
|          4|    1|
|          5|    2|
|          6|    2|
+-----------+-----+